<!-- <h1><%= @user.email %>'s Activity</h1>

<% if @user == current_user %>
<%= link_to "Edit Profile", edit_user_path(@user) %> |
<%= link_to "Edit Account", edit_user_registration_path(@user) %>
<% end %>

<% if @user.posts.any? %>
<h3>My Posts</h3>
<ul>
  <% @user.posts.each do |listing| %>
  <li>
    <%= link_to post.title, post_path(post) %>
    <% if @user == current_user %>
    <%= link_to 'Delete', post_path(post),
    :data => {
      :confirm => "You sure?",
      :method => "delete" },
      class: 'btn btn-xs btn-warning'
        %>
        <% end %>


      </li>
      <% end %>
    </ul>
    <% end %> -->
